In [39]:
import pandas as pd
import numpy as np
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl import load_workbook

In [40]:
wb = load_workbook('template.xlsx')
ws = wb.active

In [41]:
df = pd.read_csv('crime.csv', encoding='utf-8', dtype={"INCIDENT_NUMBER": str, "OFFENSE_CODE": str,
                                                       "OFFENSE_CODE_GROUP": str, "OFFENSE_DESCRIPTION": str,
                                                       "DISTRICT": str, "REPORTING_AREA": str, 
                                                       "SHOOTING": str, "YEAR": str, "MONTH": str,
                                                       "DAY_OF_WEEK": str, "HOUR": str})

df1 = df[df['OFFENSE_CODE_GROUP'] == 'Counterfeiting']
df1 = df1.replace(np.nan, 'N/A', regex=True)

In [42]:
total_crimes = len(df.index)
counterfeit = len(df1.index)
perc_crimes = (counterfeit / total_crimes) * 100
perc_crimes = round(perc_crimes, 2)

In [43]:
ws['O8'].value = total_crimes
ws['P8'].value = counterfeit
ws['Q8'].value = perc_crimes

In [44]:
df1['Count'] = 1
df2 = df1.groupby(['DISTRICT', 'YEAR']).count()['Count'].unstack(level=0)

In [45]:
print(df2)

DISTRICT    A1  A15    A7    B2    B3   C11    C6   D14    D4   E13   E18  \
YEAR
2015      25.0  5.0   6.0  32.0  26.0  73.0  16.0   6.0  35.0  17.0  20.0
2016      57.0  2.0  16.0  68.0  44.0  98.0  28.0  32.0  64.0  42.0  26.0
2017      37.0  8.0  14.0  64.0  34.0  62.0  27.0  69.0  66.0  37.0  23.0
2018      27.0  3.0   8.0  28.0  23.0  41.0  21.0  15.0  49.0  18.0  17.0

DISTRICT    E5  N/A
YEAR
2015      15.0  NaN
2016      17.0  NaN
2017      15.0  1.0
2018      11.0  1.0

In [46]:
df2.drop(columns='N/A', inplace=True)
print(df2)

DISTRICT    A1  A15    A7    B2    B3   C11    C6   D14    D4   E13   E18  \
YEAR
2015      25.0  5.0   6.0  32.0  26.0  73.0  16.0   6.0  35.0  17.0  20.0
2016      57.0  2.0  16.0  68.0  44.0  98.0  28.0  32.0  64.0  42.0  26.0
2017      37.0  8.0  14.0  64.0  34.0  62.0  27.0  69.0  66.0  37.0  23.0
2018      27.0  3.0   8.0  28.0  23.0  41.0  21.0  15.0  49.0  18.0  17.0

DISTRICT    E5
YEAR
2015      15.0
2016      17.0
2017      15.0
2018      11.0

In [47]:
rows = dataframe_to_rows(df2)
for r_idx, row in enumerate(rows, 8):
    for c_idx, value in enumerate(row, 1):
        ws.cell(row=r_idx, column=c_idx, value=value)

wb.save('crime_report.xlsx')